<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Corsi-CodingLabs</title>
    <link rel="stylesheet" type="text/css" href="../assets/CSS/bootstrap.min.css">
    <script src="../assets/javascript/jquery-3.2.1.slim.min.js"></script>
    <script src="../assets/javascript/popper.min.js"></script>
    <script src="../assets/javascript/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
        <img src="../assets/images/LogoCube.svg" alt="CubicoLogo" height="30" width="30">
        Coding Labs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="corsi.html">Corsi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materiale.html">Materiale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="eventi.html">Eventi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mentor.html">Mentor</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <h1>I nostri corsi</h1>
</div>
<div>
    <a href="web-dev.html">Web development</a>
    <br>
    <img src="../assets/images/web-dev.png" height="250" width="350">
    <br>
    <a href="game-dev.html">Game development</a>
    <br>
    <img src="../assets/images/game-dev.png" height="250" width="375">
    <br>
    <a href="arduino.html">Arduino Grand Prix</a>
    <br>
    <img src="../assets/images/arduino.png" height="250" width="350">
</div>
<div>
    <h2>Archivio corsi ed eventi</h2>
    <a href="#">Programmazione per il web 2017</a>
    <br>
    <a href="#">Game development 2017</a>
</div>
<div>
    <!--INIZIO FOOTER       INIZIO FOOTER-->
    <div>
        _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._
    </div>
    <p>
        <a href="mailto:coderdojodisimaster@gmail.com?Subject=Ciao" target="_top">Scrivici</a>
    </p>
    <p>
        Progetto possibile grazie a <a href="http://www.trentogiovani.it/">Piani giovani</a> della
        <a href="http://www.provincia.tn.it/">Provincia Autonoma di Trento</a>
    </p>
    <p>
        Ringraziamo inoltre il <a href="https://www.lsgalilei.org/">Liceo Galilei</a>,
        l'<a href="http://www.tambosi.tn.it/it/">Istituto Tambosi</a>, <a
            href="https://www.trentinoinnovation.eu/en/home/">HIT</a>
        e l'<a href="http://www.unitn.it/">Università di Trento</a>
    </p>
</div>


</body>
</html>