<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corsi-CodingLabs</title>
</head>
<body>
    <div class="mainMenu">
        <a href="index.html">Home</a>
        <p style="display:inline">[Corsi]</p>
        <a href="#">Eventi</a>
        <a href="#">Chi siamo</a>
    </div>
    <div>
        <h1>I nostri corsi</h1>
    </div>
    <div>
        <a href="#">Web development</a>
        <br>
        <img src="../assets/images/web-dev.png" height="250" width="250">
        <br>
        <a href="#">Game development</a>
        <br>
        <a href="#">Artduino Grand Prix</a>
    </div>
    <div>
        <h2>Archivio corsi ed eventi</h2>
        <a href="#">Programmazione per il web 2017</a>
        <br>
        <a href="#">Game development 2017</a>
    </div>

</body>
</html>