<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/CSS/bootstrap.min.css">
    <script src="../assets/javascript/jquery-3.2.1.slim.min.js"></script>
    <script src="../assets/javascript/popper.min.js"></script>
    <script src="../assets/javascript/bootstrap.min.js"></script>
    <title>Game development-CodingLabs</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
        <img src="../assets/images/LogoCube.svg" alt="CubicoLogo" height="30" width="30">
        Coding Labs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="corsi.html">Corsi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materiale.html">Materiale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="eventi.html">Eventi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mentor.html">Mentor</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <a href="corsi.html" class="btn btn-light" role="button">Indietro</a>
        </div>
    </div>
    <div class="row">
        <div class="title col-12">
            <h1>Game development</h1>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-6">
            <p>Corso in 9 Lezioni da due ore ciascuna. L'obiettivo del corso è imparare a sviluppare un piccolo
                videogame
                per computer
                usando Phaser.</p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../assets/images/game-dev.png">
        </div>
    </div>
    <div class="row my-5"></div>
    <div class="row pt-2">
        <div class="col-6">
            <h3>Quando?</h3>
            <p>ogni mercoledì alle ore 14....</p>
        </div>
        <div class="col-6">
            <h3>Dove?</h3>
            <p>Galileo Galilei....</p>
        </div>
    </div>
</div>

<footer>
    <div class="bg-dark p-2">

        <p class="text-light text-center">
            Progetto possibile grazie a <a href="http://www.trentogiovani.it/">Piani giovani</a> della
            <a href="http://www.provincia.tn.it/">Provincia Autonoma di Trento</a>
        </p>
        <p class="text-light text-center">
            Ringraziamo inoltre il <a href="https://www.lsgalilei.org/">Liceo Galilei</a>,
            l'<a href="http://www.tambosi.tn.it/it/">Istituto Tambosi</a>, <a
                href="https://www.trentinoinnovation.eu/en/home/">HIT</a>
            e l'<a href="http://www.unitn.it/">Università di Trento</a>
        </p>
        <p class="text-light text-center">
            <a href="mailto:coderdojodisimaster@gmail.com?Subject=Ciao" target="_top">Scrivici</a>
        </p>
    </div>
</footer>

</body>
</html>