<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game development-CodingLabs</title>
</head>
<body>
    <div>
        <a href="corsi.html">Indietro</a>
    </div>
    <div class="title">
        <h1>Game development</h1>
    </div>
    <div>
        <p>Corso in 9 Lezioni da due ore ciascuna. L'obiettivo del corso è imparare a sviluppare un piccolo videogame per computer
        usando Phaser.</p>
    </div>
    <div>
        <h3>Quando?</h3>
    </div>
    <div>
        <h3>Dove?</h3>
    </div>
</body>
</html>