<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Coding Labs Project</title>
</head>
<body>
<p>
    [Header]
    <a href="corsi.html">Corsi</a>
    <a href="materiale.html">Materiale</a>
    <a href="eventi.html">Eventi</a>
    <a href="mentor.html">Chi siamo</a>
</p>
<h2>
    Coding Labs
    <img src="../assets/images/LogoCube.svg" alt="CubicoLogo" height="30" width="30">
</h2>
<div>
    <img src="../assets/images/programming_background.jpg" alt="Programming is an amazing experience" height="300"
         style="margin-left:15%;margin-right:15%;width:60%;">
</div>
<p>
    [Didascalia centrale] Ciao, siamo associazione corsi etc etc
</p>
<p>
    [Footer] Per contattarci mandaci una mail o un <a href="mailto:coderdojodisimaster@gmail.com?Subject=Ciao"
                                                      target="_top">messaggio qui</a>
</p>

</body>
</html>