<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Coding Labs Project</title>
</head>
<body>
<p>
    <a href="corsi.html">Corsi</a>
    <a href="materiale.html">Materiale</a>
    <a href="eventi.html">Eventi</a>
    <a href="mentor.html">Chi siamo</a>
</p>
<div>
    _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._
</div>

<h2 style="margin-left:15%;margin-right:15%;width:60%;">
    Coding Labs
    <img src="../assets/images/LogoCube.svg" alt="CubicoLogo" height="30" width="30">
</h2>
<div>
    <img src="../assets/images/programming_background.jpg" alt="Programming is an amazing experience" height="300"
         style="margin-left:15%;margin-right:15%;width:60%;">
</div>
<p>
    Ciao, siamo associazione corsi etc etc
</p>
<div>
    _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._
</div>
<div>
    <p>
        <a href="mailto:coderdojodisimaster@gmail.com?Subject=Ciao" target="_top">Scrivici</a>
    </p>
    <p>
        Progetto possibile grazie a <a href="http://www.trentogiovani.it/">Piani giovani</a> della
        <a href="http://www.provincia.tn.it/">Provincia Autonoma di Trento</a>
    </p>
    <p>
        Ringraziamo inoltre il <a href="https://www.lsgalilei.org/">Liceo Galilei</a>,
        l'<a href="http://www.tambosi.tn.it/it/">Istituto Tambosi</a>, <a
            href="https://www.trentinoinnovation.eu/en/home/">HIT</a>
        e l'<a href="http://www.unitn.it/">Università di Trento</a>
    </p>
</div>

</body>
</html>