<!DOCTYPE html>
<html lang="it">
<body>
<div>
    <a href="index.html">
        <img src="../assets/images/LogoCube.svg" alt="CubicoLogo" height="30" width="30">
    </a>
    <a href="corsi.html">Corsi</a>
    <a href="materiale.html">Materiale</a>
    <a href="eventi.html">Eventi</a>
    <a href="mentor.html">Chi siamo</a>
    <div>
        _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._
    </div>
    <!--FINE HEADER    FINE HEADER-->
</div>

<ul>
    <li>
        <div>
            WebDev
            <ol>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
            </ol>
        </div>
    </li>
    <li>
        <div>
            GameDev
            <ol>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
            </ol>
        </div>
    </li>
    <li>
        <div>
            Grand Arduino Prix
            <ol>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
                <li><a href="../assets/documents/document.txt">Documento</a></li>
            </ol>
        </div>
    </li>
</ul>


<div>
    <!--INIZIO FOOTER       INIZIO FOOTER-->
    <div>
        _.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-.__.--.__.-'""`-._
    </div>
    <p>
        <a href="mailto:coderdojodisimaster@gmail.com?Subject=Ciao" target="_top">Scrivici</a>
    </p>
    <p>
        Progetto possibile grazie a <a href="http://www.trentogiovani.it/">Piani giovani</a> della
        <a href="http://www.provincia.tn.it/">Provincia Autonoma di Trento</a>
    </p>
    <p>
        Ringraziamo inoltre il <a href="https://www.lsgalilei.org/">Liceo Galilei</a>,
        l'<a href="http://www.tambosi.tn.it/it/">Istituto Tambosi</a>, <a
            href="https://www.trentinoinnovation.eu/en/home/">HIT</a>
        e l'<a href="http://www.unitn.it/">Università di Trento</a>
    </p>
</div>

</body>
<head>
    <meta charset="UTF-8">
    <title>Materiale</title>
</head>
</html>