<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web development-CodingLabs</title>
</head>
<body>
    <div>
        <a href="corsi.html">Indietro</a>
    </div>
    <div class="title">
        <h1>Web development</h1>
    </div>
    <div>
        <p>Corso in 9 Lezioni da due ore ciascuna. Si impareranno le basi della programmazione web approfondendo le basi di HTML,
        CSS e Javascript. Nella seconda parte si darà uno sguardo alla programmazione per il web dinamica vera e propria, mediante anche l'uso
        di open API.</p>
    </div>
    <div>
        <h3>Quando?</h3>
    </div>
    <div>
        <h3>Dove?</h3>
    </div>
</body>
</html>